<footer class="pt-4 my-5 text-muted border-top">
    <div class="row me-0">
        <div class="col-3">
            Created by: <a  class="link-danger" href="https://github.com/tlemaster" target="_blank">this trouble maker</a>
        </div>
        <div class="col-9">
            Movie Data provided by: <img class="img-fluid" width='100' height='65' 
                src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg"
            />
        </div>
    </div>
</footer>