<footer class="pt-4 my-5 text-muted border-top">
    Created by <a  class="link-danger" href="https://github.com/tlemaster" target="_blank">this trouble maker</a>
     &middot; &copy;lol, right
</footer>