<form class="p-3 border rounded-3 bg-light shadow">
    <label for="movieSearch" class="form-label">Find a Movie, then add it</label>
    <input type="search" class="form-control" id="movie-search" placeholder="Search..." aria-label="Search...">
</form>
