
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/git src/config/secrets/prod/prod.decrypt.private.php
/src/public/bundles/
/src/var/
/src/vendor/
###< symfony/framework-bundle ###

###> react ###
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

build/Release

node_modules/
jspm_packages/
bower_components

dist/
typings/

.yarn-integrity
###< react ###

###> docker/general stuff ###
/docker/.env
/docker/db/data
/docker/logs
.log
###< docker/general stuff ###


### IntelliJ project files ###
*.iml
*.iws
*.ipr
.idea/

### VS studio files ###
*.vscode

### eclipse project file ###
.settings/
.classpath
.project

### NetBeans specific ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

### OS ##
.DS_Store

### Embedded web-server pid file ###
/.web-server-pid