{# templates/user/registration.html.twig #}
{% extends 'base.html.twig' %}

{% block title %} Mr Movie - Sign Up {% endblock title %}

{% block body %}
    <p>This is the signup page</p>
{% endblock body %}
