{% extends 'base.html.twig' %}

{% block title %}Mr Movie - Dashboard{% endblock %}

{% block body %}
    <div class="col-lg-8 mx-auto p-3 py-md-4 border-bottom">
        {% include 'components/header.html.twig' %}
        <main>
            <div class="row g-4">
                <div class="col-md-8">
                     <div class="row g-4">
                        <div class="col-12 mb-3">
                            {{ render(path('movie_search')) }}
                        </div>
                    </div>

                    {% include 'components/movieListTable.html.twig' %} 
                </div>
                
                <div class= "col-md-4">
                    {{ render(path('movie_suggest')) }}
                </div>
            </div>    
        </main>
        {% include 'components/footer.html.twig' %}
    </div>
{% endblock %}
