{% extends 'base.html.twig' %}

{% block title %}Mr Movie - Dashboard{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h2>Hi {{ app.user.displayName }}</h2>
        {% include 'components/movieListTable.html.twig' %}   
    </div>
    <div class="example-wrapper">
        {{ render(path('movie_search')) }}
    </div>
    <div class= "example-wrapper">
        {{ render(path('movie_suggest')) }}
    </div>
{% endblock %}
