{% extends 'base.html.twig' %}

{% block title %}Mr Movie - Never forget, entertainment.{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hi, Welcome</h1>
        <p>Mr Movie, is little app that helps keep track of the movies you've watched.</p>
        <p>Feel free to hang on this page to play with the demo or head over to signup and get your own free account.</p> 
    </div>
{% endblock %}
